ion-input {
  text-transform: uppercase;
}

ion-button {
  margin-top: 1em;
}

ion-list {
  margin: 2em;
}

form {
  margin-top: 2em;  
  border-radius: 5%;
  padding: 1em;
  border: 2px solid red;
}

.title-text {
  text-align: center;
}

.error {
  color: var(--ion-color-danger);
}