<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="send">
        <ion-icon name="send-outline"></ion-icon>
        <ion-label>Send</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="read">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Read</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
