<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Step 2 & 3: Send/Read</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list class="user-and-channel-list">
    <ion-item lines="none">
      <ion-text color="primary">
        <h4>Welcome {{userName}}!!!</h4>
      </ion-text>
    </ion-item>
    <ion-item lines="none">
      <ion-text>
        <p>You are in Channel {{channelName}}.</p>
      </ion-text>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item lines="none">
      <ion-icon color="primary" slot="end" name="receipt-outline"></ion-icon>
      <ion-text color="primary">
        <h4>Read notifications</h4>
      </ion-text>
    </ion-item>

    <ion-segment (ionChange)="segmentChanged($event)" value="foreground">
      <ion-segment-button value="foreground">
        <ion-label>Foreground</ion-label>
      </ion-segment-button>
      <ion-segment-button value="background">
        <ion-label>Background</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-item [ngClass]="foregroundVisibility" *ngIf="foreground.length == 0">
      <ion-text>No messages yet.</ion-text>
    </ion-item>

    <ion-card *ngFor="let f of foreground" [ngClass]="foregroundVisibility">
      <ion-card-header>
        <ion-card-title>{{f.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{f.body}}</ion-card-content>
    </ion-card>

    <ion-item [ngClass]="backgroundVisibility" *ngIf="background.length == 0">
      <ion-text>No messages yet.</ion-text>
    </ion-item>

    <ion-card *ngFor="let b of background" [ngClass]="backgroundVisibility">
      <ion-card-header>
        <ion-card-title>{{b.title}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{b.body}}</ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>