ion-input {
  text-transform: uppercase;
}

ion-button {
  margin-top: 1em;
}

.user-and-channel-list {
  background-color: lightgray;
  border-radius: 5%;
}

.user-and-channel-list ion-text {
  margin: 0;
}

ion-title {
  margin: 0 1em;
  line-height: 40px;
  padding-left: 50px;
  background: url('../../assets/icon/favicon.png') no-repeat left center;
}

ion-list {
  margin: 2em 2em 1em 2em;
}

.visible-msg {
  display: block;
}

.non-visible-msg {
  display: none;
}

ion-card {
  --background: lightgray;
}