<ion-header>
  <ion-toolbar>
    <ion-title>Pushnator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <ion-list class="slide-list">
        <ion-item lines="none" class="my-center">
          <ion-img class="logo-and-name" src="assets/logo-and-name.png"></ion-img>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><h4>An App that shows how push notifications work with Ionic in 3 steps</h4></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>First</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>choose or create a Channel</p></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>Second</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>send a message</p></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>Third</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>receive either the foreground message in case your App is online or tap on the received push notification instead</p></ion-text>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list class="slide-list">
        <ion-item lines="none" class="my-center">
          <ion-img class="logo-and-name" src="assets/logo-and-name.png"></ion-img>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><h4>An App that shows how push notifications work with Ionic in 3 steps</h4></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>First</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>choose or create a Channel</p></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>Second</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>send a message</p></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>Third</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>receive either the foreground message in case your App is online or tap on the received push notification instead</p></ion-text>
        </ion-item>
      </ion-list>
    </ion-slide>
    <ion-slide>
      <ion-list class="slide-list">
        <ion-item lines="none" class="my-center">
          <ion-img class="logo-and-name" src="assets/logo-and-name.png"></ion-img>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><h4>An App that shows how push notifications work with Ionic in 3 steps</h4></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>First</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>choose or create a Channel</p></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>Second</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><p>send a message</p></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text-title" color="primary"><h3>Third</h3></ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="slide-text"><ion-button (click)="goToChooseChannel()">Start pushing...</ion-button></ion-text>
        </ion-item>
      </ion-list>
    </ion-slide>
  </ion-slides>
</ion-content>