ion-slides {
  height: 100%;
}

ion-title {
  margin: 0 1em;
  line-height: 40px;
  padding-left: 50px;
  background: url('../../assets/icon/favicon.png') no-repeat left center;
}

.slide-text {
  text-align: center;
  width: 75vw;
}

.slide-text-title {
  text-align: center;
  font-weight: bolder;
  width: 75vw;
}

.logo-and-name {
  width: 75vw;
}