ion-button {
  margin-top: 1em;
}

ion-title {
  margin: 0 1em;
  line-height: 40px;
  padding-left: 50px;
  background: url('../../assets/icon/favicon.png') no-repeat left center;
}

ion-list {
  margin: 2em;
}

form {
  margin-top: 2em;  
  border-radius: 5%;
  padding: 1em;
  border: 2px solid red;
}

.title-text {
  text-align: center;
}

.error {
  color: var(--ion-color-danger);
}

.visible-msg {
  display: block;
}

.non-visible-msg {
  display: none;
}